<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Name}} - {{.Address}} -{{.City}}
    {{range .Menu}}
        {{.Meal}}<br>
        {{range .Item}}
        {{.Name}} {{.Descrip}} {{.Price}}<br>
        {{end}}
    {{end}}
{{end}}

</body>
</html>