<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.}}
    {{/* Put your own code for detailed iteration and printing */}}
{{end}}

</body>
</html>